{% extends 'pogon1/min/base.html' %}

{% load staticfiles svg %}

{% block title %}Dokumentacija{% endblock %}

{% block sadrzaj %}

<div class="content-fix-padding">
  <div class="container-fluid">
    <div class="row">
      <h3>PROJEKT LINIJA POGONA</h3>
      <h4 class="fix">Osnovne cjeline od kojih se sastoji projekt su mbed MCU razvojna pločica, RPi model 3 i Arduino. Projekt ostvaruje upravljanje lokalno ili na daljinu sa sušarom, lancima. Središnji dio projekta je RPi model 3 na kojemu je postavljen Django web okruženje(web poslužitelj) i upravljačka stranica pomoću koje se može ručno upravljati linijom pogona. Linijom se upravlja pritiskom na nekoliko tipki na upravljačkoj stranicic a čija je interakcija popraćena sa statusnim signalima na upravljačkoj stranici.</h4>
      <h4 class="fix">Tipkala kreiraju "Http GET request" zbog kojih server odgovara upravljačkim signalima sa izvršnim elementima linije pogona.</h4>
      <p class="fix">Tipkalima su dodijeljene prikladne JavaScript funkcije:</p>
      <p class="fix">Kamera: stop_record() | record() | take_photo()</p>
      <p class="fix">Aktuator: fwd() | bwd() | lijevo() | desno() | pauziraj() | stop_linija()</p>
      <div class="col-md-12 placeholder">
        <div class="img-responsive">{% svg 'PROJEKT' %}</div>
      </div>
    </div>
  </div>
</div><!-- /#content-fix-padding -->

<div class="content-fix-padding">
  <div class="container-fluid">
    <div class="row">
      <h3>UPRAVLJAČKA PLOČA</h3>
      <div class="col-md-12 placeholder">
        <img class="img-responsive" src="{% static "svg/upravljackaploca.PNG" %}" />
      </div>
      <h4 class="fix">Kreirana upravljačka ploča za pogon1 i upravljanje vagonima, sušarom, lancima</h4>
      <p class="fix">Django web okruženje zasniva se na uređivanju metoda u svega tri osnovna modela Models.py, Views.py i Template.</p>
      <p class="fix">->Model Models.py: kreira nove modele za pohranu u bazi podataka</p>
      <p class="fix">->Model Views.py: Obrađuje zahtjeve klijenta i prikazuje Template</p>
      <p class="fix">->Model Template: Za izradu stranice upravljačka ploča</p>
    </div>
  </div>
</div><!-- /#content-fix-padding -->

<div class="content-fix-padding">
  <div class="container-fluid">
    <div class="row">
      <h4 class="fix">Django web okruženje obrađuje zahtjev prema slijedećoj pojednostavljenoj shemi:</h4>
      <div class="col-md-12 placeholder">
        <div id="signali-stol" class="img-responsive">{% svg 'DJANGOMODEL' %}</div>
      </div>
      <h4 class="fix">Tipkalima su pridružene funkcije za upravljanje. Pritiskom na tipkala aktivira se GET zahtjev u smjeru klijent->server, oblika "?cmd=stop"</h4>
    </div>
  </div>
</div><!-- /#content-fix-padding -->

<div class="content-fix-padding">
  <div class="container-fluid">
    <div class="row">
      <h3>STRUKTURA DATOTEKA - RPi3</h3>
      <div class="col-md-8 col-xs-10 placeholder">
        <div class="img-responsive">{% svg 'STRUKTURADATOTEKA' %}</div>
      </div>
    </div>
  </div>
</div><!-- /#content-fix-padding -->

<div class="content-fix-padding">
  <div class="container-fluid">
    <div class="row">
      <h4 class="fix">Osnovna struktura sastoji se od dijela koji pripada klijentu i dijela koji pripada serveru</h4>
      <h4 class="fix">Značajne su slijedeće datoteke: config - u kojoj se uređuje vrsta baze podataka, lokacija Template datoteke, URL mapiranja, itd., i datoteka pogon - aplikacija za liniju, tu je još i datoteka api - implementacija Django REST Framework-a</h4>
      <h4 class="fix">Python izvršne skripte camera_network.py i mbedI2C.py imaju ulogu implementiranja rada sa kamera modulom i RPI.GPIO pinovima.</h4>
    </div>
  </div>
</div><!-- /#content-fix-padding -->

<div class="content-fix-padding">
  <div class="container-fluid">
    <div class="row">
      <h3>ESP8266 serializer - za dohvaćanje tokena</h3>
      <div class="col-md-12 placeholder">
        <img class="img-responsive" src="{% static "svg/primio.png" %}" />
      </div>
      <h4 class="fix">Ovime se ostvaruje upravljanje aktuatorima preko ESP8266 modula u jednom smjeru.</h4>
      <p class="fix">ESP modul u jednakim vremenskim intervalima dohvaća status linije pogona za što je kreiran Django REST okruženje - API za dohvaćanje statusa linije pogona pomoću drugih servisa kao što je Telegram</p>
    </div>
  </div>
</div><!-- /#content-fix-padding -->

<div class="content-fix-padding">
  <div class="container-fluid">
    <div class="row">
      <h3>INSTALACIJA</h3>
      <h4 class="fix">Django projekt dostupan na slijedećem github linku <a href="https://github.com/mariomitte/rpilinijapogona" target="_blank">rpilinijapogona</a></h4>
      <div class="col-md-12 placeholder">
        <img class="img-responsive" src="{% static "svg/instalacija.png" %}" />
      </div>
    </div>
  </div>
</div><!-- /#content-fix-padding -->

<div class="content-fix-padding">
  <div class="container-fluid">
    <div class="row">
      <h3>GITHUB WIKI STRANICE</h3>
      <h4 class="fix">Stranice dostupne na <a href="https://github.com/mariomitte/rpilinijapogona/wiki" target="_blank">wiki</a></h4>
    </div>
  </div>
</div><!-- /#content-fix-padding -->

{% endblock sadrzaj %}
