
<!-- Page content kamera -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
            Kamera stream
        </div>
        <div class="panel-body">
          <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org"
                 width="320"
                 height="240"
                 target="rtsp://192.168.8.100:8001/"
                 id="vlc" />
        </div>
      </div>
    </div>
  </div>
</div><!-- /#page-content-wrapper -->


<script type="text/javascript">
<!--
var vlc = document.getElementById("vlc");
vlc.audio.toggleMute();
//-->
</script>
